    /* Global Styles */
    
    body {
        font-family: Vazirmatn, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
      }
  
      /* Container Styles */
      #button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        width: 80%;
      }
  
      /* Button Styles */
      button {
        width: 150px;
        height: 50px;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #006DB5;
        color: #ffffff;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 170px;
      }
  
      button:hover {
        background-color: #00559A;
      }
  
      button:active {
        background-color: #003E7F;
        transform: translateY(2px);
      }
  
      /* Result Styles */
      #result {
        font-size: 24px;
        font-weight: bold;
        margin: 20px auto;
        text-align: center;

      }
  
      /* Calculate and Clear Button Styles */
      #calculate-button, #clear-button {
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #ffffff;
        cursor: pointer;
      }
  
      #calculate-button:hover, #clear-button:hover {
        background-color: #3e8e41;
      }
  
      #calculate-button:active, #clear-button:active {
        background-color: #3e8e41;
        transform: translateY(2px);
      }
